In [1]:
## Importing our libraries
import pandas as pd
import numpy as np
from config import db_password

In [2]:
## Create test data df 
fake_test_data = pd.read_csv('./Data/test.csv')

In [3]:
fake_test_data.head()

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...

In [4]:
#  Check null values
fake_test_data.isnull().sum()

id          0
title     122
author    503
text        7
dtype: int64

In [5]:
# Droping null values
fake_test_df=fake_test_data.dropna()

In [6]:
fake_test_df

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...
6,20806,Pelosi Calls for FBI Investigation to Find Out...,Pam Key,"Sunday on NBC’s “Meet the Press,” House Minori..."
...,...,...,...,...
5194,25994,Trump on If ’Tapes’ Exist of Comey Conversatio...,Pam Key,Pres. Trump on if “tapes” exist of his convers...
5195,25995,The Bangladeshi Traffic Jam That Never Ends - ...,Jody Rosen,Of all the dysfunctions that plague the world’...
5196,25996,John Kasich Signs One Abortion Bill in Ohio bu...,Sheryl Gay Stolberg,WASHINGTON — Gov. John Kasich of Ohio on Tu...
5197,25997,"California Today: What, Exactly, Is in Your Su...",Mike McPhate,Good morning. (Want to get California Today by...
5199,25999,"Awkward Sex, Onscreen and Off - The New York T...",Teddy Wayne,Perhaps you’ve seen the new TV series whose pi...

In [7]:
#dropping non-english characters 
fake_test_df[fake_test_df.title.map(lambda x: x.isascii())]

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...
10,20810,184 U.S. generals and admirals endorse Trump f...,Dr. Eowyn,Have you seen that pro-Hillary TV ad of disgra...
...,...,...,...,...
5193,25993,Toyota Recalls 1.4 Million Vehicles as 2nd Maj...,Hiroko Tabuchi and Jonathan Soble,Public concern about faulty automobile airbags...
5195,25995,The Bangladeshi Traffic Jam That Never Ends - ...,Jody Rosen,Of all the dysfunctions that plague the world’...
5196,25996,John Kasich Signs One Abortion Bill in Ohio bu...,Sheryl Gay Stolberg,WASHINGTON — Gov. John Kasich of Ohio on Tu...
5197,25997,"California Today: What, Exactly, Is in Your Su...",Mike McPhate,Good morning. (Want to get California Today by...
5199,25999,"Awkward Sex, Onscreen and Off - The New York T...",Teddy Wayne,Perhaps you’ve seen the new TV series whose pi...

In [8]:
# Creating cleaned table in sql 

from sqlalchemy import create_engine

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/fake_news_db"
engine = create_engine(db_string)

fake_test_df.to_sql(name='fake_test', if_exists='replace',con=engine)

575

In [9]:
## Created our database 
fake_train_data = pd.read_csv('./Data/train.csv')

In [10]:
fake_train_data.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \r\nAn Iranian woman has been sentenced ...,1

In [11]:
#  Check null values
fake_train_data.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [12]:
# Droping null values
fake_news_df=fake_train_data.dropna()

In [13]:
fake_news_df

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \r\nAn Iranian woman has been sentenced ...,1
...,...,...,...,...,...
20795,20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson,Rapper T. I. unloaded on black celebrities who...,0
20796,20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...,0
20797,20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams,The Macy’s of today grew from the union of sev...,0
20798,20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal...",1
20799,20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa...",1

In [14]:
#dropping non-english characters 
fake_news_df[fake_news_df.title.map(lambda x: x.isascii())]

,id,title,author,text,label
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \r\nAn Iranian woman has been sentenced ...,1
5,5,Jackie Mason: Hollywood Would Love Trump if He...,Daniel Nussbaum,"In these trying times, Jackie Mason is the Voi...",0
...,...,...,...,...,...
20792,20792,"Jakarta Bombing Kills Three Police Officers, L...",John Hayward,Two suicide bombers attacked a bus station in ...,0
20793,20793,Idiot Who Destroyed Trump Hollywood Star Gets ...,Robert Rich,Share This \r\nAlthough the vandal who thought...,1
20796,20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...,0
20798,20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal...",1
20799,20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa...",1

In [15]:
# Creating cleaned table in sql 

from sqlalchemy import create_engine

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/fake_news_db"
engine = create_engine(db_string)

fake_news_df.to_sql(name='fake_news', if_exists='replace',con=engine)

285

In [16]:
# Extracting after joined both tables and dropped nulls 

from sqlalchemy import create_engine

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/fake_news_db"
engine = create_engine(db_string)

fake_news_clean= pd.read_sql('SELECT * FROM joined_df', engine)

fake_news_clean.head()

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "joined_df" does not exist
LINE 1: SELECT * FROM joined_df
                      ^

[SQL: SELECT * FROM joined_df]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
# Merged data from 'title' & 'author' columns to new column 'merged'

fake_news_clean["merged"] = fake_news_clean["title"]+" "+fake_news_clean["author"]

fake_news_clean.head()

In [ ]:
# Updating all columns 

fake_news_clean.columns = ['ID', 'Title', 'Author', 'Text', 'Label', 'Merged']

fake_news_clean.head()

In [ ]:
# Creating final dataframe after cleaning 

fake_news_final = fake_news_clean

fake_news_final.head()

In [ ]:
# 
from sqlalchemy import create_engine

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/fake_news_db"
engine = create_engine(db_string)

fake_news_final.to_sql(name='fake_news_final', if_exists='replace',index= False, con=engine)

In [ ]:
fake_news_final.to_csv('fake_news_final.csv', index=False)

In [ ]:
fact_label = fake_news_final[fake_news_final.Label == 0]
fact_label.head()

In [17]:
fake_label = fake_news_final[fake_news_final.Label == 1]
fake_label.head()

NameError: name 'fake_news_final' is not defined

In [24]:
fact_label.to_csv('fact_label.csv', index=False)

In [25]:
fake_label.to_csv('fake_label.csv', index=False)